@charset "UTF-8";
body {
    background-color: #ff0000;
    margin: 0 10%; 
    font-family: sans-serif;    
    text-align: center
}
table, tr, td {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    margin-block: 1px;
    color: rgb(255, 255, 255); 
    text-align: center; 
    border: 1px solid rgb(251, 255, 0);
}
form, input, textarea {
    text-align: center;
    width: 900;
}
h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    font-family: serif;
    color: rgb(255, 255, 255);
}
ul {
    font-size: 1em;
    text-transform: none;
    letter-spacing: .1em;
    text-align: center;
    font-family: serif;
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: brown;
}
ol {
    font-size: 1em;
    text-transform: none;
    letter-spacing: .1em;
    text-align: center;
    font-family: serif;
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: brown;
}
nav {
    float: left;
    border: right 5px;
}
nav:last-child {
    border-right: none;
}
nav a {
    display: flex;
    color: white;
    text-align: center;
    padding: 11px 11px;
    text-decoration: none;
    float: left;
}
nav a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}
small {
      text-align: center;
      padding-top: 1em;
}